@charset "UTF-8";
body {
  background-color: #cedecd;
  padding: 0 0.25em;
  min-width: 560px;
}

.help_text {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  color: midnightblue;
}

.settings {
  display: inline-block;
}

.prop-filename {
  background-color: #f5efca;
  font-family: Arial, serif;
  border-left: 2px double grey;
  height: 100%;
  width: fit-content;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
  margin-bottom: 0;
}

.table-main {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  font-family: Arial, serif;
}
.table-main th {
  font-size: 1.1em;
  border-right: 2px solid grey;
  border-bottom: 3px outset lightgrey;
  padding: 0.3125em;
}
.table-main th:last-child {
  border-right: none;
  text-align: left;
  padding-left: 0.5em;
}
.table-main tr {
  border-bottom: 1px solid black;
}
.table-main tr:last-child {
  border-bottom: none;
}
.table-main td {
  padding: 3px 5px;
  word-wrap: break-word;
  font-size: 14px;
}

#table-layer {
  table-layout: fixed;
  width: 100%;
}
#table-layer td:last-child {
  padding: 3px 2px 0 0;
}
#table-layer th {
  padding: 0 0 0 2px;
}
#table-layer th img {
  height: 1.3em;
  width: 1.4em;
  padding-top: 5px;
}
#table-layer th:first-child {
  font-size: 1.35em;
  border-right: none;
  width: 40px;
}
#table-layer th:last-child {
  font-size: 1.3em;
  text-align: left;
  padding-left: 0;
}
#table-layer tr:first-child {
  background-color: #f5efca;
}
#table-layer tr:not(:first-child):hover {
  background-color: #ffffd7;
}
#table-layer tr:last-child {
  border-bottom: 1px solid black;
}
#table-layer .full_act {
  text-align: center;
  font-stretch: semi-condensed;
}

#table-id th:first-child {
  width: 35%;
}
#table-id tr:first-child {
  background-color: rgba(158, 169, 157, 0.37);
}
#table-id tr:nth-child(even) {
  background-color: #e6e6e6;
}
#table-id .full_loc {
  text-align: center;
}

.table-properties {
  border-collapse: separate;
  border: 2px solid grey;
  border-radius: 0 5px 5px 5px;
  table-layout: fixed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 1.8em;
  font-family: Arial, serif;
}
.table-properties th {
  border-right: 2px solid grey;
  border-bottom: 2px outset lightgrey;
  text-align: left;
  font-size: 0.8em;
  padding: 0.3125em;
}
.table-properties th:last-child {
  border-right: none;
  text-align: left;
  padding-left: 0.5em;
}
.table-properties tr {
  border-bottom: 1px solid black;
}
.table-properties td {
  padding: 3px 5px;
  word-wrap: break-word;
  font-size: 14px;
}
.table-properties tr:first-child {
  background-color: rgba(158, 169, 157, 0.37);
}
.table-properties tr:nth-child(even) {
  background-color: #e6e6e6;
}

.short {
  display: none;
}

#toolbar button {
  font-size: 1.1rem;
  background-color: #4f544a;
  border-radius: 6px 6px 3px 3px;
  cursor: pointer;
  color: whitesmoke;
  font-family: Arial, serif;
  width: auto;
  height: 1.7em;
  margin-right: 0.18em;
  margin-top: 0.19em;
}

#toolbar button:hover {
  border-color: ivory;
  background-color: dimgrey;
}

.toc {
  grid-area: toc;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.34em;
  font-family: Calibri, serif;
}

.select {
  display: flex;
  align-items: center;
  grid-area: select;
}

.layer {
  grid-area: layer;
  border-style: ridge;
  border-width: thick;
  background: ivory;
  border-radius: 7px;
}

.id {
  grid-area: id;
  border-style: ridge;
  border-width: thick;
  background: white;
  border-radius: 7px;
}

.map {
  grid-area: map;
  border-style: inset;
  border-width: thick;
  border-color: Gainsboro;
  background: LightSteelBlue;
}

.rast {
  display: none;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-areas: "toc select select" "layer map map" "id map map";
  grid-template-columns: minmax(50px, 260px) minmax(185px, 1fr) minmax(185px, 1fr);
  grid-template-rows: 30px minmax(150px, 1fr) minmax(140px, 0.6fr);
  background-color: lightgrey;
  gap: 0.4375em;
  padding: 0.5625em;
  border-radius: 0 0 9px 9px;
  height: calc(100vh - 85px);
}

.full {
  text-align: center;
  width: 27%;
}

/*--------------------*/
/* ---- Menu Bar ---- */
/*--------------------*/
#menu {
  /*background: #076727;*/
  background: linear-gradient(90deg, #385a39 50%, #757575 98%);
  color: white;
  height: 3.0625em;
  border-radius: 9px 9px 0;
  font-family: Arial, serif;
}

#menu ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

#menu li {
  float: left;
  display: inline;
  position: relative;
  border-right: 1px outset #385a39;
  font-family: Arial, serif;
}

#menu .firstBtn {
  border-radius: 9px 0 0 0;
}

#menu button {
  font-size: 1.25rem;
  background: #385a39;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 2.45em;
  padding: 0 0.75em;
}

#menu button.dropdown-arrow:after {
  content: "⏷";
  margin-left: 0.25em;
}

#menu button:hover {
  background: #67765e;
}

#menu .appName {
  font-family: "Leelawadee UI", serif;
  text-shadow: 2px 2px black;
  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  line-height: 2.04em;
  border-right: none;
  float: none;
  position: absolute;
  left: 50%;
}

#menu img {
  height: 2.5em;
  width: auto;
  display: block;
  float: right;
  position: fixed;
  padding-top: 0.3em;
  left: 64.5%;
}

#menu a {
  font-size: 1.25rem;
  display: block;
  line-height: 2.45em;
  padding: 0 0.75em;
  text-decoration: none;
  color: white;
}

#menu a:hover {
  background: #67765e;
}

#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 150px;
  background: #D2DBD9;
  position: absolute;
  z-index: 99;
  display: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

#menu ul.sub-menus li {
  display: block;
  width: 100%;
}

#menu ul.sub-menus a {
  font-size: 1rem;
  color: #000000;
}

#menu ul.sub-menus button {
  font-size: 1rem;
  color: #000000;
  background: #D2DBD9;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

#menu li:hover ul.sub-menus {
  display: block;
}

#menu ul.sub-menus a:hover {
  background: #F2F2F2;
  color: #444444;
}

#menu ul.sub-menus button:hover {
  background: #F2F2F2;
  color: #444444;
}

/*--------------------*/
/* - Window Scaling - */
/*--------------------*/
/* When max-width <= 800px */
@media screen and (max-width: 50rem) {
  html {
    font-size: 0.75rem;
  }

  table {
    font-size: 1.1em;
  }

  .help_text {
    font-size: 1.1em;
  }

  .grid-container {
    grid-template-rows: 1.91em minmax(150px, 1fr) minmax(140px, 0.6fr);
    height: calc(100vh - 69px);
  }

  #menu .appName {
    position: relative;
    float: left;
    left: 0;
    margin-left: 1em;
  }

  .full_act {
    display: none;
  }

  .full_loc {
    display: none;
  }

  .short {
    display: inline-block;
  }
}
/* When max-height <= 500px */
@media screen and (max-height: 31.25rem) {
  .toolbar_btn {
    font-size: 1.2rem;
    padding: 10em;
  }

  .toc {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.2em;
  }

  .grid-container {
    grid-template-rows: 20px minmax(140px, 1fr) minmax(130px, 0.6fr);
    height: calc(100vh - 79px);
    min-height: 300px;
  }
}
@media screen and (max-width: 50rem) and (max-height: 31.25rem) {
  .grid-container {
    height: calc(100vh - 67px);
  }
}
/*--------------------*/
/* --- Index Modal -- */
/*--------------------*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-import, .modal-openENV, .modal-remove, .modal-properties {
  display: none;
  position: relative;
  background-color: ivory;
  margin: 10% auto;
  border-radius: 5px;
  width: 300px;
  max-width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.modal-import button, .modal-openENV button, .modal-remove button, .modal-properties button {
  cursor: pointer;
}

.modal-properties {
  width: 450px;
  max-width: 450px;
}

.modal-header {
  font-family: Arial, serif;
  padding: 0.187em 1em;
  border-radius: 5px 5px 0 0;
  background-color: #384f39;
  color: white;
}

.modal-body-properties {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body {
  padding: 0.187em 1em;
}

/* The Close Button */
.close {
  font-size: 1.75rem;
  color: white;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tDnD_whileDrag td {
  background-color: #ffffd7;
  /*-webkit-box-shadow: 11px 5px 12px 2px #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
  -webkit-box-shadow: 6px 3px 5px #555, 0 1px 0 #ffffd7 inset, 0 -1px 0 #ffffd7 inset;
  /*-moz-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
  /*-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
}

.collapsible {
  color: black;
  cursor: pointer;
  text-align: right;
}

.collapsible:after {
  content: "+";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.layer_content {
  float: right;
  padding: 3px 5px 5px 5px;
  display: none;
  background-color: inherit;
  cursor: default;
}

.btn-layer-options {
  width: 1.75em;
  height: 1.75em;
  padding: 1px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
}

.eye {
  background-image: url("../imgs/eye.png");
}

.rm {
  background-image: url("../imgs/trash-bin.png");
}

.settings {
  background-image: url("../imgs/settings.png");
}

/*# sourceMappingURL=styles.css.map */
