/*  position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
}

/* Dropdown Content hidden by Default */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #CCCCCC;
    min-width: 160px;
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/* Style The Dropdown Button */
.dropbtn {
     background-color: #aad2ff;
     color: #808080;
     padding: 16px;
     font-size: 20px;
     cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    color: #000000;
}

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
    display: block;
}*/