<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if red_flag %}
    <div id="red_flag" title="Red Flag">
        <p>{{vocal}}</p>
    </div>
    {% endif %}

    {% load static %}
    <link rel="icon" href="{% static 'rs_viz/imgs/mountain_32.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rs_viz/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rs_viz/css/print.css' %}" media="print"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'rs_viz/scripts/jquery.tablednd.js' %}"></script>
    <script src="{% static 'rs_viz/scripts/main.js' %}"></script>

    <title>Raster Viz Web Utility</title>
</head>

<body>

{% if fnp %}
<script>window.alert('file(s) not found in Database')</script>
{% endif %}

<!-- Top Menu Bar-->
<nav id='menu' class="noprint">
    <ul>
        <li>
            <button class="dropdown-arrow firstBtn">File</button>
            <ul class='sub-menus'>
                <li><a href="{% url 'del' %}" id="new">New</a></li>
                <li><a href="{% url 'xml' %}" id="download" download="data_paths">Save</a></li>
                <li><a href="" id="print" onclick="changefunction(id);">Print</a></li>
                <li><a href="{% url 'html_export' %}" id="download" download="completed_rendering">Export</a></li>
                <li>
                    <button id="btn_addLayer">Add Layer</button>
                </li>
                <li>
                    <button id="btn_openENV">Open XML</button>
                </li>
            </ul>
        </li>
        <li>
            <button class="dropdown-arrow menuBtn">Edit</button>
            <ul class='sub-menus'>
                <li>
                    <button id="btn_remove">Remove</button>
                </li>
                <li>
                    <button id="btn_properties">Properties</button>
                </li>
            </ul>
        </li>
        <li>
            <button class="dropdown-arrow">View</button>
            <ul class='sub-menus'>
                <li><a class="isDisabled" href="#">Zoom to Layer</a></li>
                <li><a class="isDisabled" href="#">Selection Zoom</a></li>
                <li><a class="isDisabled" href="#">Grid</a></li>
                <li><a class="isDisabled" href="#">Ruler</a></li>
            </ul>
        </li>
        <li><a href="{% url 'help' %}">Help</a></li>
        <li class="appName">Raster Viz Web Utility</li>
    </ul>
</nav>

<!-- Main Application -->
<div class="grid-container">

    <!-- Table of Contents Header / Toolbar -->
    <div class="toc noprint">TABLE OF CONTENTS</div>

    <div class="select noprint" id="toolbar">
        <button type="submit" form="render">Render Changes</button>
        <button type="button" onclick="toggle_visibility('FoliumMap', 'RasterImages')">Map</button>
        <button type="button" onclick="toggle_visibility('RasterImages', 'FoliumMap')">Image</button>
        <button class="isDisabled" type="button" title="Identify Cell" disabled>&#9432;</button>
    </div>

    <!-- Layer View -->
    <div class="layer noprint" style="overflow: auto">
        <!--<script>
            // Used for Layer menu drag/drop
            /*$(document).ready(function () {
                $("#table-layer").tableDnD();
            });*/
        </script>-->
        <table class="table-main" id="table-layer">
            <tr class="nodrag nodrop">
                <th><img src="{% static 'rs_viz/imgs/three_layers.png' %}" height="25" width="auto"></th>
                <th>Layers</th>
            </tr>
            <form method="POST" id="render" action="{% url 'rend' %}"> {% csrf_token %}
                {% if all_layers|length == 0 %}
                <tr>
                    <td colspan="2" style="background-color: ivory">
                        <p class="help_text">Active layers will be<br>displayed here.</p>
                        <p class="help_text">To add a layer,<br> select File > Add Layer.</p>
                    </td>
                </tr>
                {% endif %}

                {% for layer in all_layers %}
                {% if layer.activated %}
                <tr>
                    <td>
                        <input type="checkbox" name="choice" value="{{ layer.document }}" checked/>
                    </td>
                    <td><label class="collapsible" for="choice{{ forloop.counter }}">{{ layer.filename }}<br></label>
                        <div class="layer_content">

                            <button class="btn-layer-options bin" form="remove" type="submit" title="Remove Layer" value="{{ layer.document }}"></button>
                            <button class="btn-layer-options eye isDisabled" type="button" title="Zoom to Layer"></button>
                            <button class="btn-layer-options settings isDisabled" type="button" title="Layer Settings"></button>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td><input type="checkbox" name="choice" value="{{ layer.document }}"/></td>
                    <td><label class="collapsible" for="choice{{ forloop.counter }}">{{ layer.filename }}<br></label>
                        <div class="layer_content">

                            <button class="btn-layer-options bin" form="remove" type="submit" value="{{ layer.document }}"></button>
                            <button class="btn-layer-options eye isDisabled" type="button" title="Zoom to Layer"></button>
                            <button class="btn-layer-options settings isDisabled" type="button" title="Layer Settings"></button>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </form>
        </table>
    </div>

    <!-- Map View -->
    <div class="map" id="FoliumMap">{{ folMap|safe }}</div>
    <div class="rast" id="RasterImages"><img src="data:image/png;base64,{{ graphic|safe }}"></div>

    <!-- Identify Cell -->
    <div class="id noprint" style="overflow: auto">
        <table class="table-main" id="table-id">
            <tr>
                <th>
                    <span class="full_loc">Location</span>
                    <span class="short">Loc.</span>
                </th>
                <th>Value(s)</th>
            </tr>
        </table>
    </div>

</div>

<!-- The Modal -->
<div id="mainModal" class="modal noprint">

    <!-- Add Layer  -->
    <div id="modal_import" class="modal-import">
        <div class="modal-header noprint">
            <span class="close">&times;</span>
            <h3>Add New Layer</h3>
        </div>
        <div class="modal-body noprint">
            {% block content %}
            <form action="{% url 'layer_upload' %}" method="POST" enctype="multipart/form-data" id="add_layer">
                {% csrf_token %}
                <p>Choose files to open: </p>
                <p>
                    <input type="file" id="document" name="filename" required multiple>
                </p>
                <p>
                    <button type="submit" id="add_layer_submit">Submit</button>
                </p>
            </form>
            {% endblock %}
        </div>
    </div>

    <!-- Open XML  -->
    <div id="modal_openENV" class="modal-openENV noprint">
        <div class="modal-header noprint">
            <span class="close">&times;</span>
            <h3>Open XML file</h3>
        </div>
        <div class="modal-body noprint">
            <form action="{% url 'env' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Choose an XML file to open:</p>
                <p>
                    <input type="file" id="myFile" name="filename">
                </p>
                <p>
                    <button type="submit" id="openENV_submit">Submit</button>
                </p>
            </form>
        </div>
    </div>

    <!-- Remove Layer(s) -->
    <div id="modal_remove" class="modal-remove noprint">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Remove Layers</h3>
        </div>
        <div class="modal-body noprint">
            {% if all_layers|length == 0 %}
            <p class="help_text">Layers can be selected and removed here.</p>
            {% else %}
            <p><b>Select files to remove:</b></p>
            <form action="{% url 'rem' %}" id="remove" method="POST"> {% csrf_token %}
                <table class="table-main">
                    {% for layer in all_layers %}
                    <tr>
                        <td style="width: 18px">
                            <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ layer.document }}"/>
                        </td>
                        <td>
                            <label for="choice{{ forloop.counter }}">{{ layer.filename }}</label>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <p>
                    <button type="submit" id="rm_layer_submit">Remove</button>
                </p>
            </form>
            {% endif %}
        </div>
    </div>

    <!-- All Properties from Dropdown (Edit > Properties) -->
    <div id="modal_properties" class="modal-properties noprint">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Layer Properties</h3>
        </div>
        <div class="modal-body-properties noprint">
            {% if all_layers|length == 0 %}
            <p class="help_text">A layer's properties will be viewable here.</p>
            {% endif %}
            {% for layer in all_layers %}
            <h3 class="prop-filename">{{ layer.filename }}</h3>
            <table class="table-properties">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Columns & Rows</td>
                    <td>{{ layer.n_cols }}, {{ layer.n_rows }}</td>
                </tr>
                <tr>
                    <td>Number of Bands</td>
                    <td>{{ layer.n_bands }}</td>
                </tr>
                <tr>
                    <td>Format</td>
                    <td>{{ layer.file_ext }}</td>
                </tr>
                <tr>
                    <td>File Size</td>
                    <td>{{ layer.file_size }}</td>
                </tr>
                <tr>
                    <td>Bit Depth & Type</td>
                    <td>{{ layer.data_type }}</td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>

</div>

<script src="{% static 'rs_viz/scripts/main.js' %}"></script>
</body>
</html>