<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'rs_viz/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rs_viz/print.css' %}" media="print"/>
<html lang="en">
{% if red_flag %}
<div id="red_flag" title="Red Flag">
    <p>{{vocal}}</p>
</div>
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raster Viz Web Utility</title>
</head>

<body>

<!-- Top Menu Bar-->
<nav id='menu' class="noprint">
    <ul>
        <li><a class='dropdown-arrow' href="#">File</a>
            <ul class='sub-menus'>
                <li><a href="{% url 'del' %}" id="new">New</a></li>
                <li><a href="" id="download" download="index">Save</a></li>
                <li><a href="" id="print" onclick="changefunction(id);">Print</a></li>
                <li><a href="{% url 'layer_upload' %}" id="import">Import</a></li>
            </ul>
        </li>
        <li><a class='dropdown-arrow' href="#">Edit</a>
            <ul class='sub-menus'>
                <li><a href="#">Remove</a></li>
                <li><a href="#">Properties</a></li>
            </ul>
        </li>
        <li><a class='dropdown-arrow' href="#">View</a>
            <ul class='sub-menus'>
                <li><a href="#">Zoom to Layer</a></li>
                <li><a href="#">Selection Zoom</a></li>
                <li><a href="#">Grid</a></li>
                <li><a href="#">Ruler</a></li>
            </ul>
        </li>
        <li><a href="{% url 'help' %}">Help</a></li>
        <div class="center"><h1>Raster Viz <span style="color: black">Web Utility</span></h1></div>
    </ul>
</nav>

<!-- Main Application -->
<div class="grid-container">
    <div class="toc noprint">TABLE OF CONTENTS</div>

    <div class="select noprint">
        <button type="button" class="button1">&#9824;</button>
        <button type="button" class="button1">&#9827;</button>
        <button type="button" class="button1">&#9830;</button>
    </div>

    <div class="layer noprint">Layers</div>

    <div class="id noprint">&#9432;</div>

    <div class="map">{{ folMap|safe }}</div>
</div>

</body>
</html>

<script type=text/javascript>

    function changefunction(i) {
        if (i == "print") {
            window.print()
        }
        if (i == "save") {
            window.location.href = "index.html"
        }
        if (i == "exit") {
            window.close()
        }
        if (i == "import") {

        }
    }
</script>