<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rs_viz/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rs_viz/print.css' %}" media="print"/>
<head>
</head>

<body>
<nav id='menu' class="noprint">
    <a href="{% url 'index' %}"> Home </a>
</nav>
<form method="POST" action="{% url 'set' %}"> {% csrf_token %}
    {% for layer in layers %}
        <tr>
            <td><input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ layer.document }}" /></td>
            <td><label for="choice{{ forloop.counter }}">{{ layer.filename }}</label><br /></td>
    {% endfor %}
        </tr>
    <p><button type="submit">delete</button></p>
</form>


</body>
<script type="text/javascript">
</script>
</html>